$primary-light: #d6e4e5;
$mobile-breakpoint: 768px;


.homeWrapper {
  background-color: $primary-light;
  height: 95.15vh;
  // width: 100vw;
  min-height: fit-content;
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.homeTop {
  height: 35vh;
  background: linear-gradient(
    to right,
    rgb(0, 94, 3),
    rgba(0, 94, 3, 0.5) 100%,
  );
}

.homeHeader {
  color: $primary-light;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin-top: 0vh;
  padding-top: 10vh;
  // font-family: "Times New Roman", Times, serif;
}

.homeSubHeader {
  font-size: 2rem;
  color: $primary-light;
}

.homeCardWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 14vh;
}

.homeButton {
  background-color: rgba(0, 123, 255, 0.5);
  color: white;
  width: 40%;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  transition: 0.3s;
  border: none;
  margin: 5px;
  padding: 5px;
  &:hover {
    cursor: pointer;
    scale: 1.05;
    color: white;
    background-color: rgba(8, 119, 223, 1);
  }
}

.homeBottom{
  display: flex;
  max-width: 100%;
  background-color: white;
  padding-top: 5vh;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.bottomHeader{
  font-size: 3rem;
}

.bottomText{
  font-size: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
} 

.sampleCampaign{
  width: 60vw;
  border-radius: 10px;
}

.sampleNPC{
  width: 40vw;
  border-radius: 10px;
}

.bottomTextImage{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10rem;
}

@media screen and (max-width: $mobile-breakpoint) {
  .homeTop{
    padding-top: 5vh;
  }

  .homeWrapper {
  height: auto;
  // padding-top: 10vh;
  padding-bottom: 10vh;
  }
  
  .homeHeader {
  font-size: 3rem;
  padding-top: 0vh;
  // padding-bottom: 
  }
  
  .homeSubHeader {
  font-size: 1.5rem;
  padding-top: 2vh;
  }
  
  .homeButton {
  width: 60%;
  font-size: 1.2rem;
  margin: 2vh;
  }
  
  .homeCardWrapper {
  grid-template-columns: 1fr;
  margin-bottom: 10vh;
  }
  
  .homeCard {
  margin-bottom: 5vh;
  }
  
  .bottomHeader {
  font-size: 2rem;
  padding-top: 5vh;
  }
  
  .bottomText {
  font-size: 1rem;
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
  }
  
  .sampleCampaign {
  width: 80vw;
  }
  
  .sampleNPC {
  width: 60vw;
  }
  
  .bottomTextImage {
  padding: 5vh;
  flex-direction: column;
  }
  }