$primary-grey: #393E46;
$secondary-grey: #d6e4e5;

.itemgenWrapper {
  background: linear-gradient(135deg, $primary-grey 25%, white) ;
  height: fit-content;
  width: 99vw;
  height: 100vh;
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: $primary-grey;
}

.itemgenBody {
  display: grid;
  margin: 0;
  padding: 0;
  // grid-template-rows: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  justify-content: center;
  place-items: center;
}

.itemgenHeader {
  font-size: 3rem;
  color: $secondary-grey;
  margin-top: 2rem;
  border-bottom: 1px solid #d6e4e5;
}

.itemgenOptionsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: $secondary-grey;
  width: fit-content;
  padding: 0px;
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  & div {
    padding: 10px;
  }
}

.itemgenDisplay {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $secondary-grey;
  width: fit-content;
  padding: 0px;
  margin: 0;
  text-align: left;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.npggenDescWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 95vw;
}

.itemgenDesc {
  display: block;
  justify-self: center;
  width: 80%;
}

.itemgenDetail {
  display: flex;
  padding-right: 1rem;
  justify-content: flex-end;
  border-bottom: 1px dashed;

  & h1 {
    // padding-right: 1rem;
  }
}

.itemgenDetailTitle {
  margin-right: auto;
}

.itemgenDetailOutput {
  // margin-right: auto;
}

.itemgenStats {
  display: block;
  width: 80%;
  justify-self: center;
}

.itemgenStatDetail {
  display: flex;
  padding-right: 1rem;
  justify-content: flex-end;
  border-bottom: 1px dashed;
}

.itemgenDescHeader {
  font-size: 2.5rem;
  border-bottom: 1px solid black;
  width: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.itemgenBtnWrapper {
  margin: 1rem;
  background-color: $secondary-grey;
  border-radius: 1rem;
  width: 30vw;
}

.itemgenBtnClear {
  font-size: 2rem;
  color: $secondary-grey;
  background-color: rgba(255, 0, 0, 0.75);
  border-radius: 0.5rem;
  border: 0px;
  margin: 1rem;
  padding: 0.5rem;
  transition: 0.5s;
  &:hover {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px 5px 5px rgba(255, 0, 0, 0.5);
  }
}

.itemgenBtnGen {
  font-size: 2rem;
  color: $secondary-grey;
  background-color: rgba(0, 128, 0, 0.75);
  border-radius: 0.5rem;
  border: 0px;
  margin: 1rem;
  padding: 0.5rem;
  transition: 0.5s;
  &:hover {
    background-color: rgba(0, 128, 0);
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px rgba(0, 128, 0, 0.5);
  }
}

.itemgenBtnSearch{
  height: 2rem; 
  color: $primary-grey;
  width: 2rem;
  border-radius: 0.5rem;
  border: 0px;
  background-color: rgba(0, 187, 255, 0.75);
  margin: 0.5rem;
  padding: 0.5rem;
  transition: 0.5s;
  &:hover {
    background-color: rgba(0, 187, 255);
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px rgba(0, 187, 255, 0.5);
  }
}

.itemgenBtnName{
  font-size: 1rem;
  color: $secondary-grey;
  background-color: rgba(0, 128, 0, 0.75);
  border-radius: 0.5rem;
  border: 0px;
  margin-left: 0.5rem;
  padding: 0.5rem;
  transition: 0.5s;
  &:hover {
    background-color: rgba(0, 128, 0);
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px rgba(0, 128, 0, 0.5);
  }
}

.itemgenWeaponAdditionalWrapper{
  padding: 0;
  justify-items: center;
  text-align: center; 
  align-items: center;
}

.itemgenWeaponAdditionalInput{
  justify-items: center;
  text-align: center; 
  align-items: center;
  padding: 0;
  margin: 0;
}
.itemgenWeaponDmgInput{
  display: flex;
  justify-self: center;
  padding: 0;
  margin: 0;
  
}

.itemgenDisplay {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $secondary-grey;
  width: fit-content;
  padding: 0px;
  margin: 0;
  text-align: left;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.itemgenDescWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 95vw;
}

.itemgenDesc {
  display: block;
  justify-self: center;
  width: 80%;
}

.itemgenDetail {
  display: flex;
  padding-right: 1rem;
  justify-content: flex-end;
  border-bottom: 1px dashed;

  & h1 {
    // padding-right: 1rem;
  }
}

.itemgenDetailTitle {
  margin-right: auto;
}

.itemgenDetailOutput {
  // margin-right: auto;
}

.itemgenStats {
  display: block;
  width: 80%;
  justify-self: center;
}

.itemgenStatDetail {
  display: flex;
  padding-right: 1rem;
  justify-content: flex-end;
  border-bottom: 1px dashed;
}

.itemgenDescHeader {
  font-size: 2.5rem;
  border-bottom: 1px solid black;
  width: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.subsection {
  display: flex;
  flex-direction: column;
  & div {
    text-align: center;
    align-items: left;
    justify-content: left;
  }
}