$mobile-breakpoint: 768px;

$primary-light: #d6e4e5;

.navbarWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  justify-content: center;
  background: none;
  color: black;

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.navbarUl {
  grid-column-start: 2;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin-top: 1vh;
  margin-bottom: 1vh;

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.navbarLi {
  display: inline;
  padding: 5px;
  margin: 5px;
  font-size: 2rem;
  transition: 0.3s;
  color: black;

  @media (max-width: $mobile-breakpoint) {
    display: block;
    padding: 10px 0;
    margin: 0;
    font-size: 1.5rem;
  }

  &:hover {
    color: white;
    background-color: rgba(8, 119, 223, 0.75);
    cursor: pointer;
    border-radius: 5px;
  }
}

.navbarBtnWrapper {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  color: black;

  @media (max-width: $mobile-breakpoint) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  & p {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  & button {
    font-size: 1.25rem;
    padding: 2.5px;
    transition: 0.3s;
    border: 0;
    background-color: transparent;
    color: black;

    &:hover {
      color: white;
      background-color: rgba(8, 119, 223, 0.75);
      cursor: pointer;
    }
  }
}

.navbarLoginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarEmail {
  font-size: 1.2rem;
  color: black;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.navbarLogoWrapper{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: start;
  margin-top: 0.5rem;
  margin-left: 5rem;
  color: black;

  @media (max-width: $mobile-breakpoint) {
    margin-left: 1rem;
    justify-items: center;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.navbarLogo{
  width: 20rem;
  height: auto;
  justify-self: start;
  align-self: center;

  @media (max-width: $mobile-breakpoint) {
    width: 15rem;
  }
}